html, body {
    margin: 0;
    padding: 0;
}

.mainLayer {
    position: relative;
}

#page {
    min-width: 1080px;
    margin: 0 auto;
    padding-bottom: 70px;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    clear: both;
}

#footer.fixed {
    position: fixed;
}

.input {
    width: 292px;
}

.inputPinCode {
    width: 192px;
}

#captcha {
    width: 292px;
    display: inline-block;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .ivu-modal {
    top: 0;
}


.submitButton {
    width: 292px;
}
