.fade-enter-active {
  animation: fade-in 100ms;
}

.fade-leave-active {
  animation: fade-out 100ms;
}

@keyframes fade-out {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.portal-enter-active {
  animation: portal-in 1s;
}

.portal-leave-active {
  animation: portal-out .6s;
}

@keyframes portal-out {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes portal-in {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.scaleoutscreen-enter-active {
  animation: scaleouter-in .6s;
}

.scaleoutscreen-leave-active {
  animation: scaleouter-out .5s;
}

.scaleoutin-enter-active {
  animation: scaleouter-in .6s;
}

.scaleinout-leave-active {
  animation: scaleouter-out .6s;
}

@keyframes scaleouter-in {
  0% {
      transform: scale(1.5);
  }
  100% {
      transform: scale(1.0);
  }
}

@keyframes scaleouter-out {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.bounce-enter-active {
  animation: bounce-in .6s;
}

.bounce-leave-active {
  animation: bounce-out .3s;
}

@keyframes bounce-out {
  0% {
      transform: scale(1.0);
      opacity: 1;
  }
  100% {
      transform: scale(0.3);
      opacity: 0;
  }
}

@keyframes bounce-in {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  20% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(1.0);
      opacity: 1;
  }
}

.scalex-enter-active {
  animation: scalex-in .5s;
}

.scalex-leave-active {
  animation: scalex-out .3s;
}

@keyframes scalex-out {
  0% {
      transform: scaleX(1.0);
      opacity: 1;
  }
  100% {
      transform: scaleX(0.3);
      opacity: 0.3;
  }
}

@keyframes scalex-in {
  0% {
      transform: scaleX(0);
      opacity: 0;
  }
  100% {
      transform: scaleX(1.0);
      opacity: 1;
  }
}

.translateY-enter-active {
  animation: translateY-in .5s;
}

.translateY-leave-active {
  animation: translateY-out .5s;
}

@keyframes translateY-out {
  0% {
      transform: translateY(0px);
      opacity: 1;
  }
  20% {
      opacity: 0.8;
  }
  80% {
      opacity: 0.2;
  }
  100% {
      transform: translateY(266px);
      opacity: 0;
  }
}

@keyframes translateY-in {
  0% {
      transform: translateY(266px);
      opacity: 0;
  }
  20% {
      opacity: 0.2;
  }
  80% {
      opacity: 0.8;
  }
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

.speedTranslateY-enter-active {
  animation: speedTranslateY-in .5s;
}

.speedTranslateY-leave-active {
  animation: speedTranslateY-out .5s;
}

@keyframes speedTranslateY-out {
  0% {
      transform: translateY(0px);
      opacity: 1;
  }
  20% {
      opacity: 0.8;
  }
  80% {
      opacity: 0.2;
  }
  100% {
      transform: translateY(-456px);
      opacity: 0;
  }
}

@keyframes speedTranslateY-in {
  0% {
      transform: translateY(-456px);
      opacity: 0;
  }
  20% {
      opacity: 0.2;
  }
  80% {
      opacity: 0.8;
  }
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

.pipTranslateX-enter-active {
  animation: pipTranslateX-in .5s;
}

.pipTranslateX-leave-active {
  animation: pipTranslateX-out .5s;
}

@keyframes pipTranslateX-out {
  0% {
      transform: translateX(0px);
      opacity: 1;
  }
  20% {
      opacity: 0.8;
  }
  80% {
      opacity: 0.2;
  }
  100% {
      transform: translateX(586px);
      opacity: 0;
  }
}

@keyframes pipTranslateX-in {
  0% {
      transform: translateX(586px);
      opacity: 0;
  }
  20% {
      opacity: 0.2;
  }
  80% {
      opacity: 0.8;
  }
  100% {
      transform: translateX(0px);
      opacity: 1;
  }
}
