
  // 多行省略
  %ellipsis {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
.u {
  @for $i from 1 through 3 {
    &-ellipsis-#{$i} {
      @extend %ellipsis;
      -webkit-line-clamp: $i;
    }
  }

  // flex
  &-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &:before,
    &:after {
        display: flex;
    }
    // x轴原点
    &-start {
        justify-content: flex-start;
    }
    // x轴居中
    &-center {
        justify-content: center;
    }
    // x轴反方向
    &-end {
        justify-content: flex-end;
    }
    // x轴平分
    &-space-between {
        justify-content: space-between;
    }
    // x轴有间隔地平分
    &-space-around {
        justify-content: space-around;
    }
    // 顶部对齐
    &-top {
        align-items: flex-start;
    }
    // 居中对齐
    &-middle {
        align-items: center;
    }
    // 底部对齐
    &-bottom {
        align-items: flex-end;
    }
    // 水平垂直对齐
    &-center-middle {
      align-items: center;
      justify-content: center;
    }
  }
  &-break-all {
      word-break: break-all;
  }
  &-text {
      &-center {
          text-align: center;
      }
  }
}
