// 字体
$font-size-base: 14px;
$font-color: #333;

// 颜色
$color-primary: #66BBBF;
$color-primary-gradient: linear-gradient(134deg, #0BBFD5 0%, #6DD7B2 100%);

// 阴影
$base-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);