.fade-enter-active {
  animation: fade-in 100ms;
}

.fade-leave-active {
  animation: fade-out 100ms;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
