.content div {
  word-wrap: break-word;
  .title {
    padding-top: 5vh;
    font-size: 1.6rem;
    color: #FFFFFF;
    margin-left: 14vw;
    text-align: left;
  }
}

.form {
  margin: 4vh 0 2vh;
}

.formItem {
  margin: 2.5vh 14vw 0;
}

.formInput {
  width 72vw;
}

.formButton {
  width 72vw;
  text-align center
  height 5vh
  margin 5vh 14vw 0
  font-size 0.8rem;
  color #00A6AE;
  .mint-button-text {
    display flex
    align-items center
    justify-content center
  }
  .spinner {
    margin-left 1vw
  }
}

.submitButton {
  margin-top: 1vh;
  font-size: 0.85rem;
  color: #00A6AE;
  text-align: center;
  width: 72vw;
  background: #FFFFFF;
  border-radius: 6px;
  display flex
  align-items center
  justify-content center
}

.goDiv {
  display: flex;
  margin: 0 14vw;
  .empty {
    flex: 1;
  }
  .goButton {
    min-width: 1vw;
    text-align: center;
    font-size: 0.85rem;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
  }
}

#captcha {
  width: 72vw;
  display: inline-block;
}
